body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    /* 1. put parent into flex mode: */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section {
    border: solid 4px hotpink;
    width: 241px;
    height: 83px;
}