body {
    background-color: #F0F0F0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f4d401;
    padding: 50px;
}

main {
    margin: 50px;
}

section {
    background-color: white;
    margin: 0 30px 30px 0;
    padding: 20px;
    border-radius: 6px;
}

section>ul>li {
    margin-bottom: 20px;
}