body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.7em;
}

header {
    position: fixed;
    background: gray;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 200px;
    /* margin: 50px; */
}


main {
    padding: 0 15vw;
    margin-top: 150px;
}