body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
}

/* Begin Debugging Code */
header, main, main section, nav, .logo {
    border: solid 2px #CCC;
}

.logo {
    font-size: 1em;
    font-weight: normal;
}


#topnav {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;

    height: 70px;
    padding: 5px 20px;


    background: gray;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 100px;
}

aside {
    position: fixed;
    background-color: hotpink;
    top: 100px;
    left: 60vw;
    width: 40vw;
    min-height: 400px;
}
.news-feed section {
    min-height: 300px;
}

.news-feed {
    margin-right: 40vw;
}



@media (max-width: 800px) {
    aside {
        display: none;
    }
    .news-feed {
        margin-right: 0;
    }
    
}