body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
}

.card {
    border: solid 1px #CCC;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p,
.card span {
    color: #555;
}

@media screen and (max-width: 768px) {
    main {
        padding: 20px;
        grid-template-columns: 1fr;
    }
}