@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;

}

h1,
h2 {
    font-family: "Orbitron", sans-serif;
}

/* create additional rules below:  */